<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="signup-form3" class="list">
      <label class="item item-input" id="signup-input5">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 5px;"></div>
      <label class="item item-input" id="signup-input7">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="home()" id="signup-button8" class="button button-positive button-block">Sign up</a>
    </form>
    <a ui-sref="login()" id="signup-button10" class="button button-positive button-block">Already Member? LogIn Instead</a>
  </ion-content>
</ion-view>