<ion-view title="SportsHub" hide-nav-bar="true" id="page1">
  <ion-content padding="true" style="background: url(img/oKCSalo5T9aSBXTLRszI_2220-20Copy.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 479px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="signup()" id="sportsHub-button9" style="left:-10px;font-size:22px;" class="button button-positive button-full">Go To App</a>
    </div>
  </ion-content>
</ion-view>